{% extends "base.html.j2" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/leaderboards.css">
    <script src="/static/leaderboards.js"></script>
{% endblock %}
{% block title %}The Board{% endblock %}
{% block content %}
    <leaderboards>
        <podium>
            <date-selected>
                <select id="date_select" onchange="changeDate()">
                    {% set datens = namespace(phasename=None) %}
                    {% for date in date_list %}
                        {% if date[1] != datens.phasename %}
                            {% if not loop.first %}</optgroup>{% endif %}
                            <optgroup label="Phase {{ date[1] }}">
                        {% endif %}
                        <option value="{{ date[0] }}" {% if date[0] == date_selected %}selected{% endif %}>{{ date[0] }}</option>
                    {% set datens.phasename = date[1] %}
                    {% endfor %}
                </select>
                <p class="date-selected">{{ date_selected }}</p>
            </date-selected>
            <a name="podium"></a>
            <podium_grid>
                {% if top_10_boards["mr"] %}
                <div class="first-info av">{{ top_10_boards["mr"][0].player_name }}</div>
                <div class="first stat">
                    <p class="label">Club Master</p>
                    <p class="value">{{ top_10_boards["mr"][0].char_id }}</p>
                    <p class="value">{{ "{:,}".format(top_10_boards["mr"][0].value) }} MR</p>
                </div>
                <div class="second-info av">{{ top_10_boards["lp"][0].player_name }}</div>
                <div class="second stat">
                    <p class="label">League Champion</p>
                    <p class="value">{{ top_10_boards["lp"][0].char_id }}</p>
                    <p class="value">{{ "{:,}".format(top_10_boards["lp"][0].value) }} LP</p>
                </div>
                <div class="third-info av">{{ top_10_boards["kudos"][0].player_name }}</div>
                <div class="third stat">
                    <p class="label">Kudos Leader</p>
                    <p class="value">{{ "{:,}".format(top_10_boards["kudos"][0].value) }} Kudos</p>
                </div>
                {% else %}
                <div class="second-info av"></div>
                <div class="first-info av">
                <p class="no-data">Whoops didn't get data for today!!</p>
                </div>
                <div class="third-info av"></div>
                {% endif %}
            </podium_grid>
        </podium>
        <boards>
            <a name="boards"></a>
            <ranking-boards>
                <board class="lp-board">
                    <button class="toggle" onclick="toggleTable('lp-board')">Best</button>
                    <table class="all">
                        <caption>LP Leaderboard</caption>
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Character</th>
                            <th>League</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set lpa = namespace(watcher=None) %}
                        {% for stat in top_10_boards["lp"] %}
                            {% if stat.league_name != lpa.watcher %}
                                {% if stat.league_name != "Master" %}
                                <tr class="league-sep {{stat.class}}">
                                    <td colspan="4">{{stat.league_name}}</td>
                                </tr>
                                {% endif %}
                                {% set lpa.watcher = stat.league_name %}
                            {% endif %}
                            <tr class="{{stat.class}}">
                                <td>{{stat.rank}}</td>
                                <td>{{stat.player_name}}</td>
                                <td>{{stat.char_id}}</td>
                                <td>{{"{:,}".format(stat.value)}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="grouped visible">
                        <caption>LP Leaderboard</caption>
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Character</th>
                            <th>League</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set lp = namespace(watcher=None) %}
                        {% for stat in top_10_grouped["lp"] %}
                            {% if stat.league_name != lp.watcher %}
                                {% if stat.league_name != "Master" %}
                                <tr class="league-sep {{stat.class}}">
                                    <td colspan="4">{{stat.league_name}}</td>
                                </tr>
                                {% endif %}
                                {% set lp.watcher = stat.league_name %}
                            {% endif %}
                            <tr class="{{stat.class}}">
                                <td>{{loop.index}}</td>
                                <td>{{stat.player_name}}</td>
                                <td>{{stat.char_id}}</td>
                                <td>{{"{:,}".format(stat.value)}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </board>
                <board class="mr-board">
                    <button class="toggle" onclick="toggleTable('mr-board')">Best</button>
                    <table class="all">
                        <caption>MR Leaderboard</caption>
                        <thead>
                            <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Character</th>
                            <th>Master Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set mr = namespace(watcher=None) %}
                        {% for stat in top_10_boards["mr"] %}
                        {% if stat.league_name != mr.watcher %}
                            <tr class="league-sep {{stat.class}}">
                                <td colspan="4">{{stat.league_name}}</td>
                            </tr>
                            {% set mr.watcher = stat.league_name %}
                        {% endif %}
                        <tr class="{{stat.class}}">
                            <td>{{stat.rank}}</td>
                            <td>{{stat.player_name}}</td>
                            <td>{{stat.char_id}}</td>
                            <td>{{"{:,}".format(stat.value)}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="grouped visible">
                        <caption>MR Leaderboard</caption>
                        <thead>
                            <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Character</th>
                            <th>Master Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set mra = namespace(watcher=None) %}
                        {% for stat in top_10_boards["mr"] %}
                        {% if stat.league_name != mra.watcher %}
                            <tr class="league-sep {{stat.class}}">
                                <td colspan="4">{{stat.league_name}}</td>
                            </tr>
                            {% set mra.watcher = stat.league_name %}
                        {% endif %}
                        <tr class="{{stat.class}}">
                            <td>{{loop.index}}</td>
                            <td>{{stat.player_name}}</td>
                            <td>{{stat.char_id}}</td>
                            <td>{{"{:,}".format(stat.value)}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </board>
                <board class="kudos-board">
                    <button class="toggle" onclick="toggleTable('kudos-board')">Best</button>
                    <table class="all">
                        <caption>Kudos Leaderboard</caption>
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Total Kudos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in top_10_boards["kudos"] %}
                        <tr class="{{stat.class}}">
                            <td>{{loop.index}}</td>
                            <td>{{stat.player_name}}</td>
                            <td>{{"{:,}".format(stat.value)}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="grouped visible">
                        <caption>Kudos Leaderboard</caption>
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Total Kudos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ns = namespace(break = False) %}
                        {% for stat in top_10_boards["kudos"] %}
                        {% if not ns.break %}
                            <tr class="{{stat.class}}">
                                <td>{{loop.index}}</td>
                                <td>{{stat.player_name}}</td>
                                <td>{{"{:,}".format(stat.value)}}</td>
                            </tr>
                            {% if loop.index >= 10 %}{% set ns.break = True %}{% endif %}
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </board>
            </ranking-boards>
        </boards>
        <cheers>
            <a name="cheers"></a>
            {% for award_dict in awards_list %}
            <award class="{{award_dict['class']}}">
                <p class="award-title">{{award_dict['name']}}</p>
                <p class="award-player">{{award_dict['player_name']}}</p>
                <p class="award-value">{{award_dict['value']}}</p>
            </award>
            {% endfor %}
        </cheers>
    </leaderboards>
{% endblock %}