<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Player Ranking Points History</title>
    </head>
    <body>
        {% if lp_fig %}
            {{ lp_fig|safe }}
        {% endif %}
        <br />
        {% if mr_fig %}
            {{ mr_fig|safe }}
        {% endif %}
    </body>
</html>