.m {
  color: #50E7B3;
  font-weight: 800;
  text-shadow: 1px 1px 2px #474B4F;
}

.d-1, .d-2, .d-3, .d-4, .d-5 {
  color: #BD6DA8;
  font-weight: 650;
}

.p-1, .p-2, .p-3, .p-4, .p-5 {
  color: #6EC0C1;
  font-weight: 500;
}

.g-1, .g-2, .g-3, .g-4, .g-5 {
  color: #DAB55A;
}

.s-1, .s-2, .s-3, .s-4, .s-5 {
  color: #B2B6B5;
}

.b-1, .b-2, .b-3, .b-4, .b-5 {
  color: #926D4B;
}

.i-1, .i-2, .i-3, .i-4, .i-5 {
  color: #7A7974;
}

.r-1, .r-2, .r-3, .r-4, .r-5 {
  color: #6B6E70;
}

.mr-low {
  color: #50E7B3;
}

.mr-def {
  font-weight: 600;
  color: #47e869;
}

.mr-high {
  font-weight: 600;
  color: #EA5623;
}

.mr-grand {
  font-weight: 700;
  color: #f1851f;
  text-shadow: 1px 1px 2px #474B4F;
}

.mr-ult {
  font-weight: 800;
  color: #FFED16;
  text-shadow: 1px 1px 2px #474B4F;
}

.kud-1 {
  color: #6B6E70;
}

.kud-2 {
  color: lightblue;
}

.kud-3 {
  color: rgb(121, 149, 234);
}

.kud-4 {
  color: lightcoral;
  font-weight: 600;
  text-shadow: 0px 1px 1px darkred;
}

.kud-5 {
  color: #86C232;
  font-weight: 700;
  text-shadow: 0px 1px 1px #61892F;
}

leaderboards {
  display: block;
  position: relative;
}

podium, boards, cheers, jeers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 1.5em;
  border-bottom: thin solid #474B4F;
}

podium {
  position: relative;
}
podium date-selected {
  display: block;
  position: absolute;
  right: center;
  bottom: 50px;
  padding: 8px;
  color: rgba(0, 0, 0, 0.55);
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
}

podium_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr repeat(3, 75px) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  max-width: 1290px;
}
podium_grid .stat {
  background-color: #6B6E70;
  color: white;
  text-align: center;
  padding-top: 6px;
  line-height: 18px;
}
podium_grid .stat .label {
  padding-bottom: 4px;
}
podium_grid .av {
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
  justify-content: center;
  color: #86C232;
  font-size: 22px;
  font-weight: 600;
}
podium_grid .second {
  grid-area: 3/1/5/3;
}
podium_grid .first {
  grid-area: 2/3/5/5;
}
podium_grid .third {
  grid-area: 4/5/5/7;
}
podium_grid .second-info {
  grid-area: 1/1/3/3;
}
podium_grid .first-info {
  grid-area: 1/3/2/5;
}
podium_grid .third-info {
  grid-area: 1/5/4/7;
}

ranking-boards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
ranking-boards board {
  position: relative;
  margin-inline: 20px;
}
ranking-boards board:not(:last-child) {
  margin-bottom: 2em;
}
ranking-boards board button {
  position: absolute;
  right: 0;
  background-color: #222629;
  border-radius: 6px;
  border-color: #86C232;
  color: #61892F;
}
ranking-boards board table {
  visibility: hidden;
  display: none;
  border-collapse: collapse;
}
ranking-boards board table.visible {
  visibility: visible;
  display: block;
}
ranking-boards board table caption {
  font-size: 18px;
  font-weight: bold;
  color: #86C232;
  margin-bottom: 10px;
}
ranking-boards board table th {
  border-bottom: 1px solid #364043;
  color: #61892F;
  font-size: 0.85em;
  font-weight: 600;
  padding: 3px 6px;
  text-align: left;
}
ranking-boards board table tr.league-sep {
  font-size: small;
  text-align: center;
  height: 10px;
}
ranking-boards board table tr.league-sep td {
  padding: 0px;
  font-weight: normal;
  text-shadow: none;
}
ranking-boards board table td {
  padding: 8px 12px;
}

cheers, jeers {
  flex-wrap: wrap;
}
cheers award, jeers award {
  margin-bottom: 2em;
  margin-inline: 2em;
  text-align: center;
}
cheers award .award-title, jeers award .award-title {
  color: #86C232;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
cheers award .award-player, jeers award .award-player {
  color: white;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 4px;
}
cheers award .award-value, jeers award .award-value {
  color: white;
  font-style: italic;
}

jeers {
  border-bottom: 0;
}
jeers award .award-title {
  color: #61892F;
}/*# sourceMappingURL=leaderboards.css.map */