<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>Funny Animals - {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <h1>Funny Animals Stats</h1>
            <navigation>
                <a href="/">Roster</a>
                <a href="/leaderboards">Leaderboards</a>
            </navigation>
        </header>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>