<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='leaderboards.css') }}">
        <title>Leaderboards</title>
    </head>
    <body>
        <leaderboards>
            <podium class="section">
                <a name="podium"></a>
                <div>
                    <podium_grid>
                        <div class="first-info av">{{ podium["mr"].player_name }}</div>
                        <div class="first stat">
                            <p class="label">{{ podium["mr"].name }}</p>
                            <p class="value">{{ podium["mr"].character }}</p>
                            <p class="value">{{ podium["mr"].value }}</p>
                        </div>
                        <div class="second-info av">{{ podium["lp"].player_name }}</div>
                        <div class="second stat">
                            <p class="label">{{ podium["lp"].name }}</p>
                            <p class="label">{{ podium["lp"].character }}</p>
                            <p class="value">{{ podium["lp"].value }}</p>
                        </div>
                        <div class="third-info av">{{ podium["kudos"].player_name }}</div>
                        <div class="third stat">
                            <p class="label">{{ podium["kudos"].name }}</p>
                            <p class="value">{{ podium["kudos"].value }}</p>
                        </div>
                    </podium_grid>
                </div>
            </podium>
            <boards class="section">
                <a name="boards"></a>
                <ranking-boards>
                    <board class="lp-board">
                        <table>
                            <caption>LP Leaderboard</caption>
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Character</th>
                                <th>League</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stat in top_10_boards["lp"] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{stat.player_name}}</td>
                                <td>{{stat.char_id}}</td>
                                <td>{{"{:,}".format(stat.value)}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </board>
                    <board class="mr-board">
                        <table>
                            <caption>MR Leaderboard</caption>
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Character</th>
                                <th>Master Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stat in top_10_boards["mr"] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{stat.player_name}}</td>
                                <td>{{stat.char_id}}</td>
                                <td>{{"{:,}".format(stat.value)}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </board>
                    <board class="kudos-board">
                        <table>
                            <caption>Kudos Leaderboard</caption>
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Total Kudos</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stat in top_10_boards["kudos"] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{stat.player_name}}</td>
                                <td>{{"{:,}".format(stat.value)}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </board>

                </ranking-boards>
            </boards>
            <cheers class="section">
                <a name="cheers"></a>
                {% for award_dict in [{"class": "hub", "name": "Hub Monster", "player": "Scrub", "value": "5,000 hub matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}] %}
                <award class="{{award_dict['class']}}">
                    <p class="award-title">{{award_dict['name']}}</p>
                    <p class="award-player">{{award_dict['player']}}</p>
                    <p class="award-value">{{award_dict['value']}}</p>
                </award>
                {% endfor %}
            </cheers>
            <jeers class="section">
                <a name="jeers"></a>
                {% for award_dict in [{"class": "hub", "name": "Least Played Char", "player": "M. Bison", "value": "0 players"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}, {"class": "hub", "name": "Award Title", "player": "Scrub", "value": "5,000 matches"}] %}
                <award class="{{award_dict['class']}}">
                    <p class="award-title">{{award_dict['name']}}</p>
                    <p class="award-player">{{award_dict['player']}}</p>
                    <p class="award-value">{{award_dict['value']}}</p>
                </award>
                {% endfor %}
            </jeers>
        </leaderboards>
    </body>
</html>